{% extends "base.html.twig" %}

{% block title %}FORUM IMMOBILIER{% endblock %}
{% block body %}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="{{ path('app_home') }}">Publications récentes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="{{ path('app_publication_active') }}">Actives</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="{{ path('app_publication_sans_reponse') }}">Sans réponse</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="{{ path('app_publication_close') }}">Closes</a>
    </li>
</ul>
<br/><br/>
{% include 'components/_slogan.html.twig' %}
<br/><br/><br/><br/>

{% if app.user %}                                           
    <button class="debutPage"><a  href="{{ path('app_publication_new') }}">Nouvelle Publication</a></button>
{% endif %}
    <br/>
    <h2 class="debutPage">Nos publications en attente de réponse</h2>
        {% for publication in publicationSansReponse %}
                   {% include 'components/_publications.html.twig' %}
        {% endfor %}
        
{% endblock %}

