{% extends 'base.html.twig' %}


{% block title %}Publication{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message|raw }}
        </div>
    {% endfor %}
    <h1>{{ publication.titre }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Auteur</th>
                <td><a href= "{{path('app_profile_show', {id:publication.user.id})}}">{{ publication.user.pseudo }}</td>
            </tr>
            <tr>
                <th>Posté le </th>
                <td>{{ publication.createdAt ? publication.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Mise à jour</th>
                <td>{{ publication.updatedAt ? publication.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            {% if publication.deletedAt %}
            <tr>
                <th>Supprimé le</th>
                <td>{{ publication.deletedAt ? publication.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>Contenu</th>
                <td>{{ publication.contenu|raw }}</td>
            </tr>
            <tr>
                <th>ImageFile</th>
                <td>
                    {% if vich_uploader_asset(publication, 'imageFile') %}
                    <img loading="lazy" src="{{ vich_uploader_asset(publication, 'imageFile') }}">
                    {% endif %}
                </td>
            <tr>
                <th>Domaines</th>
                <td>{% for domaine in publication.domaines %}
                <a href= "{{path('app_domaine_show', {id:domaine.id})}}">{{domaine.nom}}{% if not loop.last %},{% endif %}
                {% endfor %}
                </td>
            </tr>
                <th>Statut</th>
                <td>{{ publication.statut ? 'Publié' : 'Brouillon' }}</td>
            </tr>
            <tr>
                <th>Id : </th>
                <td>{{ publication.id }}</td>
            </tr>
        </tbody>
    </table>
    {{ include('components/_partage.html.twig') }}
    {% if is_granted('ROLE_ADMIN') or app.user == publication.user %}   
        {{ include('publication/_delete_form.html.twig') }}
        <button href="{{ path('app_publication_edit', {'id': publication.id}) }}">Modifier la publication</button>
    {% endif %}
    <button href="{{ path('app_publication_index') }}">Retour</button>
         
        
        
        {% include 'components/_commentaire.html.twig' %}
        
       
 

{% endblock %}
