{# {% extends 'base.html.twig' %}

{% block title %}Publications{% endblock %}

    
{% block body %}
    <h1>Liste des publications</h1>

<a href="{{ path('app_admin_publication_new') }}">Nouvelle publication</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Auteur</th>
                <th>Titre</th>
                <th>Contenu</th> 
                <th>ImageFile</th>
                <th>Statut</th>
                <th>Domaines</th>
                <th>Commentaires</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>DeletedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for publication in publications %}
            {% if 'ROLE_ADMIN' not in publication.user.roles %}
                <tr>
                    <td>{{ publication.id }}</td>
                    <td>{{ publication.user.pseudo }}</td>
                    <td>{{ publication.titre }}</td>
                    <td>{{ publication.contenu|u.truncate(100, '...')|raw }} <a href="{{ path('app_admin_publication_show', {'id': publication.id}) }}"> Lire plus</a></td>
                    <td>
                        {% if vich_uploader_asset(publication, 'imageFile') is not empty %}
                        <img src="{{ vich_uploader_asset(publication, 'imageFile') | imagine_filter('miniature') }}" alt="{{ publication.imageName }}">
                        {% endif %}
                    </td>
                    <td>{{ publication.statut ? 'Publié' : 'Brouillon' }}</td>
                    <td>{% for domaine in publication.domaines %}{{ domaine.nom }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
                    <td>{{ publication.commentaires|length }}</td>
                    <td>{{ publication.createdAt ? publication.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ publication.updatedAt ? publication.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ publication.deletedAt ? publication.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a href="{{ path('app_admin_publication_show', {'id': publication.id}) }}">show</a>
                        <a href="{{ path('app_admin_publication_edit', {'id': publication.id}) }}">edit</a>
                    </td>
                </tr>
            {% endif %}
            
           
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
            
        {% endfor %}
        </tbody>
    </table>


{% endblock %} #}
