
        <!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
        <title>{% block title %}{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {#  ds les blocks ci-dessous mettre balises styles pr back ou front #}
        {% block stylesheets %}
            {# tjs mettre les balises de CDN avant mon code #}
            {# sert au chargement via CDN #}
            {# <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> #}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {# tjs mettre les balises de CDN avant mon code #}
            {# sert au chargement via CDN #}
            {# <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous" defer></script> #}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
   
    {% block header %}
           {# <div class="container">
            <div class="row">
                <div class="col"> #}
                    <nav class="navbar navbar-expand-lg bg-body-tertiary">
                        <div class="container-fluid">
                        {# ci-dessous mieux mettre un path que l'url directe ds symfony = moins de risqu d'erreurs #}
                            <a class="navbar-brand" href="{{path ('app_home')}}">FORUM IMMOBILIER</a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                                       
                                    
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                {# barre de recherche #}
                                    <form class="d-flex" role="search" action="{{ path('app_home_recherche') }}">
                                        <input class="form-control me-2" type="search" name="keyword" id="searchInput" placeholder="Rechercher une publication" aria-label="Search" value="{{ app.request.query.get('keyword') }}">
                                        <button class="btn btn-outline-success" type="submit">Search</button>
                                    </form>
                                    {# fin barre de recherche #}
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                        <li class="nav-item">
                                          <li class="nav-item">
                                            <a class="nav-link" href="{{path ('app_home')}}">Publications</a>
                                            {# <a class="nav-link" href="{{path ('app_publication_index')}}">Publications</a> #}
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{path ('app_article_index')}}">Articles</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{path ('app_domaine_index')}}">Domaines</a>
                                        </li>
                                    {% if app.user %}
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{path ('app_profile_index')}}">Utilisateurs</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{path ('app_profile_show',{'id':app.user.id} )}}">Mon Profil</a>
                                        </li>
                                        {# <li class="nav-item">
                                            <a class="nav-link" href="{{path ('app_publication_show',{'id':app.user.id}) }}">Mes Publications</a>
                                        </li> #}
                                        {% if is_granted('ROLE_ADMIN') %}
                                        {# onglets ADMIN #}                                        
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{path ('app_admin_titre_index')}}">Titres</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{path ('app_gestion')}}">Gestion</a>
                                        </li>
                                        {% elseif is_granted('ROLE_PARTENAIRE') %}
                                        {# onglets PARTENAIRE #}
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{path ('app_gestion')}}">Gestion</a>
                                        </li>
                                       
                                        
                                        {% endif %}
                                        
                                        
                                        
                                    {% endif %}
                                    
                                </ul>    
                                {% if app.user %}
                                    <div>
                                        Bonjour {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                                    </div>
                                {% else %}
                                    <div>
                                        <a href="{{ path('app_login') }}">Connexion</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </nav>
                {# </div>
            </div>
        </div> #}
        
            {# <br/><br/>
            <h1>Bienvenue sur le 1er forum d'expertise immobilière </h1> #}
        {% endblock %}
         <body>
        {% block body %}{% endblock %}
    </body>
  
  <!-- Footer -->
  <footer class="text-center text-white">
    <!-- Grid container -->
    <div class="container">
      <!-- Section: Links -->
      <section class="mt-5">
        <!-- Grid row-->
        <div class="row text-center d-flex justify-content-center pt-5">
          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-white">Nous connaître</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-white">Contact</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-white">Mentions légales</a>
            </h6>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="my-5" />

          <!-- Section: Social -->
      <section class="text-center mb-5">
        <a href="https://twitter.com/i/flow/login?redirect_after_login=%2FPlus2POPSchool"><i
                class="ri-twitter-fill"></i></a>
        <a href="https://www.instagram.com/popschoolfr/"><i class="ri-instagram-fill"></i></a>
        <a href="https://www.facebook.com/POPSchoolFr/"><i class="ri-facebook-box-fill"></i></a>
        <a href="https://www.linkedin.com/in/popschool/"><i class="ri-linkedin-box-fill"></i></a>
      </section>
      <!-- Section: Social -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div
         class="footer-slogan"
         >
      <a class="text-white" href="{{path ('app_home')}}"
         >Le forum d'expertise immobilière accessible à tous</a
        >
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

</html>


