<h2>Commentaires</h2>

        {# formulaire pour créer un nouveau commentaire #}
        {% if app.user %}
            <div> 
                {{ form_start(form) }}
                {{ form_widget(form.parent) }}
                {{ form_widget(form.enfant) }}
                {{ form_end(form) }}
            </div>
        {% endif %}

{# affichage des commentaires déjà rédigés, auxquels viendront s'ajouter les nouveaux selon leur niveaux #}
{% for commentaire in publication.commentaires %}
    {% if commentaire.parent == null %}
        <table class="table">
            <tr>
                <td><a href= "{{ path('app_profile_show', {id:commentaire.user.id}) }}"><b>{{ commentaire.user.pseudo }}</b></a> le {{ commentaire.createdAt ? commentaire.createdAt|date('d-m-Y') : '' }}</td>
                <td><button><a href="#" data-reply data-id="{{ commentaire.id }}">Répondre</a></button></td>
            </tr>
            <tr>
                <td>
                    {{ commentaire.contenu|raw }}{% if not loop.last %}<br>{% endif %}
                </td>
                <td>
                    {% if vich_uploader_asset(commentaire, 'imageFile') %}
                        <img loading="lazy" src="{{ vich_uploader_asset(commentaire, 'imageFile') }}">
                    {% endif %}
                </td>
            </tr>
            {# Afficher les commentaires enfants #}
            {% for enfant in commentaire.enfants %}
            <table class="enfant">
                <tr>
                    <td><a href= "{{ path('app_profile_show', {id:enfant.user.id}) }}"><b>{{ enfant.user.pseudo }}</b></a> le {{ enfant.createdAt ? enfant.createdAt|date('d-m-Y') : '' }}</td>
                    <td><button><a href="#" data-reply data-id="{{ enfant.id }}">Répondre</a></button></td>
                </tr>
                <tr>
                    <td>
                        {{ enfant.contenu|raw }}{% if not loop.last %}<br>{% endif %}
                    </td>
                    <td>
                        {% if vich_uploader_asset(enfant, 'imageFile') %}
                            <img loading="lazy" src="{{ vich_uploader_asset(enfant, 'imageFile') }}">
                        {% endif %}
                    </td>
                </tr>
                </table>
                {# Afficher les commentaires petits-enfants #}
                {% for petitenfant in enfant.petitenfants %}
                <table class="petitenfant">
                    <tr>
                        <td><a href= "{{ path('app_profile_show', {id:petitenfant.user.id}) }}"><b>{{ petitenfant.user.pseudo }}</b></a> le {{ petitenfant.createdAt ? petitenfant.createdAt|date('d-m-Y') : '' }}</td>
                    </tr>
                    <tr>
                        <td>
                            {{ petitenfant.contenu|raw }}{% if not loop.last %}<br>{% endif %}
                        </td>
                        <td>
                            {% if vich_uploader_asset(petitenfant, 'imageFile') %}
                                <img loading="lazy" src="{{ vich_uploader_asset(petitenfant, 'imageFile') }}">
                            {% endif %}
                        </td>
                    </tr>
                </table>
                {% endfor %}
            {% endfor %}
        </table>
    {% endif %}
{% endfor %}
