<section class="commentaire">
<h2>Commentaires</h2>

    {# formulaire pour créer un nouveau commentaire #}
    {% if app.user %}
        <div class="commentaireForm"> 
            {{ form_start(form) }}
            {{ form_widget(form.parent) }}
            {{ form_widget(form.enfant) }}
            {{ form_end(form) }}
        </div>
    {% endif %}




    {% for commentaire in publication.commentaires %}
        {% if commentaire.choixRetenu %}
            <i class="ri-verified-badge-fill"></i>
            <a href= "{{ path('app_profile_show', {id:commentaire.user.id}) }}"><b>{{ commentaire.user.pseudo }}</b></a> le {{ commentaire.createdAt ? commentaire.createdAt|date('d-m-Y') : '' }} 
            <p>{{ commentaire.contenu|raw }}</p>
            {% if vich_uploader_asset(commentaire, 'imageFile') %}
                <img loading="lazy" src="{{ vich_uploader_asset(commentaire, 'imageFile') }}">
            {% endif %}
        {% endif %}
    {% endfor %}
    {% for commentaire in publication.commentaires %}
        <hr/>
        {% if commentaire.parent == null %}
            <a href= "{{ path('app_profile_show', {id:commentaire.user.id}) }}"><b>{{ commentaire.user.pseudo }}</b></a> le {{ commentaire.createdAt ? commentaire.createdAt|date('d-m-Y') : '' }} 
            <p>{{ commentaire.contenu|raw }}</p>
            {% if vich_uploader_asset(commentaire, 'imageFile') %}
                <img loading="lazy" src="{{ vich_uploader_asset(commentaire, 'imageFile') }}">
            {% endif %} 
            <a class="commentaireReponse" href="#" data-reply data-id="{{ commentaire.id }}">Répondre</a>
            {{ include('components/_commentaireLike.html.twig', {'commentaire': commentaire}) }}
            {{include('components/_commentaireChoixRetenu.html.twig', {'commentaire': commentaire})}}

            {# Afficher les commentaires enfants #}
            {% for enfant in commentaire.enfants %}
                <div class="enfant">
                    <a href= "{{ path('app_profile_show', {id:enfant.user.id}) }}"><b>{{ enfant.user.pseudo }}</b></a> le {{ enfant.createdAt ? enfant.createdAt|date('d-m-Y') : '' }} 
                    <p>{{ enfant.contenu|raw }}</p>
                    {% if vich_uploader_asset(enfant, 'imageFile') %}
                        <img loading="lazy" src="{{ vich_uploader_asset(enfant, 'imageFile') }}">
                    {% endif %}
                    <a class="commentaireReponse" href="#" data-reply data-id="{{ enfant.id }}">Répondre</a>
                    {# <button><i class="ri-thumb-up-fill"></i>  {{ publication.likes|length }}</button> #}
                </div> 

                {# Afficher les commentaires petits-enfants #}
                {% for petitenfant in enfant.petitenfants %}
                    <div></div>
                    <div class="petitEnfant">
                        <a href= "{{ path('app_profile_show', {id:petitenfant.user.id}) }}"><b>{{ petitenfant.user.pseudo }}</b></a> le {{ petitenfant.createdAt ? petitenfant.createdAt|date('d-m-Y') : '' }}
                        <p>{{ petitenfant.contenu|raw }}</p>
                        {% if vich_uploader_asset(petitenfant, 'imageFile') %}
                            <img loading="lazy" src="{{ vich_uploader_asset(petitenfant, 'imageFile') }}">
                        {% endif %}
                        {# <button><i class="ri-thumb-up-fill"></i>  {{ publication.likes|length }}</button> #}
                         
                    </div>
                {% endfor %}
            {% endfor %}
            {% if not loop.last %}<hr>{% endif %}
        {% endif %}
    {% endfor %}
</section>
