


 <a href="{{ path('app_publication_show', {'id': publication.id}) }}">
 <article>
    <div class="publicationBody">
        <div class="publicationBodyLeft">
            <div>Posté le {{ publication.createdAt ? publication.createdAt|date('d-m-Y') : '' }}</div>
            <div><i class="ri-user-2-fill"></i>{{ publication.user.pseudo }}</div>
            <div><i class="ri-chat-1-fill"></i>{{ publication.commentaires|length }}</div>
            <div><i class="ri-thumb-up-fill"></i>{{ publication.likes|length }}</div>
            {# <div name="statut" value="False">{{ publication.statut ? 'Publié' : 'Brouillon' }}  </div> #}
        </div>
        <div class="publicationBodyRight">
            <h2>{{ publication.titre }}</h2>
            <p class="publicationContenu">{{ publication.contenu|u.truncate(100, '...')|raw }} </p>
            <p>{% if vich_uploader_asset(publication, 'imageFile') %}
                    <img loading = "lazy" src="{{ vich_uploader_asset(publication, 'imageFile') }}">
                {% endif %}
            </p>
        </div>
    </div>
    <div class="publicationDomaines">
        {% for domaine in publication.domaines %}
            <button>{{ domaine.nom }}</button>
        {% endfor %}
    </div>              
    <div class="publicationFooter">
        {% if app.user is not null and ('ROLE_ADMIN' in app.user.roles or publication.user == app.user) %}
            {{ include('publication/_delete_form.html.twig') }}
            <button><a href="{{ path('app_publication_edit', {'id': publication.id}) }}">Modifier</a></button>
            {{ include('publication/_delete_form.html.twig') }}
        {% endif %}
        {{include('components/_publierBrouillon.html.twig', {'publication': publication})}}
    </div>
    {% if not loop.last %}<hr>{% endif %}
</article></a>
