{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>{{ publication.titre }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Auteur</th>
                <td><a href= "{{path('app_user_show', {id:publication.user.id})}}">{{ publication.user.pseudo }}</td>
            </tr>
            <tr>
                <th>Posté le </th>
                <td>{{ publication.createdAt ? publication.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Mise à jour</th>
                <td>{{ publication.updatedAt ? publication.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <th>Contenu</th>
                <td>{{ publication.contenu|raw }}</td>
            </tr>
            <tr>
                <th>ImageFile</th>
                <td>
                    {% if vich_uploader_asset(publication, 'imageFile') %}
                    <img src="{{ vich_uploader_asset(publication, 'imageFile') }}">
                    {% endif %}
                </td>
            <tr>
                <th>Domaines</th>
                <td>{% for domaine in publication.domaines %}
                <a href= "{{path('app_domaine_show', {id:domaine.id})}}">{{domaine.nom}}{% if not loop.last %},{% endif %}
                {% endfor %}
                </td>
        </tbody>
    </table>
       
<a href="{{ path('app_article_index') }}">Retour à la liste</a>
            
    <h2>Commentaires</h2>
    <table class="table">
        {% for commentaire in publication.commentaires %}
            <tr>
                <th><a href= "{{path('app_user_show', {id:publication.user.id})}}">{{commentaire.user.pseudo}}</th>
                <td>
                <a href= "{{path('app_commentaire_show', {id:commentaire.id})}}">
                {{commentaire.contenu}}{% if not loop.last %}<br>{% endif %}
                {% endfor %}
                </td>
            </tr>


    

    


{% endblock %}
