{% extends 'base.html.twig' %}

{% block title %}Domaine{% endblock %}

{% block body %}
    <h1>{{ domaine.nom }}</h1>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_domaine_edit', {'id': domaine.id}) }}">Modifier le nom de domaine</a>
        {{ include('domaine/_delete_form.html.twig') }}
        <a href="{{ path('app_domaine_new') }}">Créer un nouveau domaine</a>
    {% endif %}
    
    <h2>Résultats des Publications et Articles ({{ publicationByDomaine|length }}): </h2><br/>
    <div class="grillePublications">
        {% for publication in publicationByDomaine %}
            {% include 'components/_publications.html.twig' %}
        {% endfor %}
    </div>

   
    
{% endblock %}
